.btn {
  cursor: pointer;
  background-color: #4d5ae5;
  color: #ffffff;
  font-size: 'Roboto', sans-serif;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

.raleway {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-style: normal;
}

.roboto-regular {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-medium {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-bold {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-style: normal;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}
ul,
ol {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
img {
  display: block;
}
a {
  text-decoration: none;
}
button {
  cursor: pointer;
}

address {
  font-style: normal;
}
body {
  font-family: 'Roboto', sans-serif;
  background-color: #ffffff;
  color: #434455;
}
.container {
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
.container-header {
  display: flex;
  align-items: center;
}
.section {
  padding-top: 120px;
  padding-bottom: 120px;
}
/*--header--*/
.page-nav {
  display: flex;
  align-items: center;
  margin-right: auto;
}
.page-header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.page-header .menu-link {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.page-header .menu-link:hover .page-header .menu-link:focus {
  color: #404bbf;
}

.menu {
  display: flex;
  column-gap: 40px;
}
.logo-part-first {
  margin-right: 76px;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.logo-part-second {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2e2f42;
}
.menu-link {
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  background-color: #fff;
}
.menu-link:hover,
.menu-link:focus {
  color: #404bbf;
}
.menu {
  display: flex;
  gap: 40px;
}
.info-list {
  display: flex;
  gap: 40px;
}
.info {
  display: flex;
}

.info-link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.info-link:hover,
.info-link:focus {
  color: #404bbf;
}

.current {
  position: relative;
  color: #404bbf;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.current::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -1px;
  background-color: #404bbf;
  border-radius: 2px;
  width: 100%;
  height: 4px;
}

/*--section-first--*/
.section-first {
  background-color: #2e2f42;
  padding: 188px 0 188px;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero/bg.jpg);
  background-size: cover;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  background-repeat: no-repeat;
  background-position: center;
}
.caption {
  margin-left: auto;
  margin-right: auto;
  max-width: 496px;
  margin-bottom: 48px;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #ffffff;
}
.button {
  font-family: inherit;
  color: #ffffff;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  background-color: #4d5ae5;
  cursor: pointer;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  padding-left: 32px;
  padding-right: 32px;
  display: block;
  margin: 0 auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button:hover,
.button:focus {
  background: #404bbf;
}

/*--section-second--*/
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.benefits-list {
  display: flex;
  gap: 24px;
}
.benefits-list-item {
  width: calc((100% - 72px) / 4);
}
.caption-benefits-none {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.caption-benefits {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.description-benefits {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 112px;
  border-radius: 4px;
  border: 1px solid #8e8f99;
  background-color: #f4f4fd;
  margin-bottom: 8px;
}
/*-- section-third--*/

.section-our-team {
  background-color: #f4f4fd;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  color: #2e2f42;
}
.team-list-item {
  background-color: #ffffff;
  border-radius: 0 0 4px 4px;
  width: calc((100% - 72px) / 4);
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.team-list {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
}
.collective-name {
  display: block;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
  margin-bottom: 8px;
}
.team-info {
  padding: 32px 0 32px;
  border-radius: 0 0 4px 4px;
  border-top: none;
  width: 264px;
}

.caption-team {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}
.occupation {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  display: block;
  text-align: center;
}

/*-- section-third--*/
.caption-portfolio-list {
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
  column-gap: 24px;
  row-gap: 48px;
}
.portfolio-list-item {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.caption-portfolio-list-item {
  display: block;
  border-bottom: 1px solid #e7e9fc;
  width: calc((100% - 48px) / 3);
}
.caption-portfolio-list-item {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.caption-portfolio-list-item:hover {
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.caption-portfolio-list-item:hover .text-overlay {
  transform: translateY(0%);
}
.caption-portfolio-info {
  position: relative;
  overflow: hidden;
}

.text-overlay {
  position: absolute;
  top: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding: 40px 32px;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.caption-portfolio-info:hover .portfolio-overlay {
  transform: translateY(0%);
}

.caption-portfolio {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  max-width: 100%;
  text-align: center;
  margin-bottom: 72px;
}
.caption-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  background-color: #ffffff;
  color: #2e2f42;
  margin-bottom: 8px;
}

.caption-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.social-media-list {
  display: flex;
  gap: 24px;
  align-items: center;
  justify-content: center;
  margin-top: 8px;
}
.social-media-list-item {
  width: 40px;
  height: 40px;
}
.social-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #4d5ae5;
  width: 100%;
  height: 100%;
  fill: #f4f4fd;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-icon:hover,
.social-icon:focus {
  background-color: #404bbf;
}

/*--footer--*/
footer {
  background-color: #2e2f42;
}
.logo-footer {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.logo-footer-second {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f4f4fd;
}
.footer-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  width: 264px;
}
.logo-footer {
  display: inline-block;
  margin-bottom: 16px;
}
.footer-section {
  padding: 100px 0px 100px;
}
.footer-section-first {
  margin-right: 120px;
}

.logo-footer {
  display: inline-block;
  margin-bottom: 16px;
}
.footer-social-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
}
.footer-container {
  display: flex;
}
.footer-social {
  display: inline-block;
}
.footer-list-social {
  display: flex;
  gap: 16px;
  align-items: center;
  justify-content: center;
}
.icon-social-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-social-footer:hover,
.icon-social-footer:focus {
  background-color: #31d0aa;
}
.footer-section .container {
  display: flex;
  align-items: baseline;
}
.icon-footer {
  fill: #f4f4fd;
}

.footer-input-label-wraper {
  display: flex;
  gap: 24px;
  margin-left: 80px;
}
.footer-section-third p {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-left: 80px;
  margin-bottom: 16px;
}
.footer-input {
  padding: 8px 16px;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 4px;
  width: 264px;
  height: 40px;
  color: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  outline: transparent;
}
.footer-input::placeholder {
  color: #ffffff;
}

.footer-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  border: none;
  padding: 8px 24px;
  min-width: 165px;
  height: 40px;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;

  color: #fff;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-button-icon {
  fill: #fff;
  margin-left: 16px;
}
.footer-button:hover,
.footer-button:focus {
  background-color: #404bbf;
}

/* backdrop styles */
.backdrop {
  position: fixed;
  z-index: 9999999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  opacity: 0;
  visibility: hidden;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-open {
  opacity: 1;
  visibility: visible;
}
/* modal window */
.modal {
  position: absolute;
  border-radius: 4px;
  padding: 72px 24px 24px 24px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 408px;
  min-height: 584px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  background: #fcfcfc;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-button {
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  padding: 0;
  width: 24px;
  height: 24px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #e7e9fc;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-button:hover,
.modal-close-button:focus {
  background-color: #404bbf;
  border: none;
}

.modal-icon-close-button {
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-button:hover .modal-icon-close-button,
.modal-close-button:focus .modal-icon-close-button {
  fill: #fff;
}
/* modal-window-text */
.modal-window-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
  text-align: center;
  color: #2e2f42;
}
/* modal-window-form */
.modal-window-form-input {
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  padding-left: 38px;
  width: 100%;
  height: 40px;
  background-color: transparent;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-window-form-input:focus {
  border-color: #4d5ae5;
}
.window-wraper-icon:focus {
  fill: #4d5ae5;
}
.window-wraper {
  position: relative;
}
.window-wraper-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-window-form-input:focus + .window-wraper-icon {
  fill: #4d5ae5;
}
.modal-window-form-label {
  display: block;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  margin-bottom: 4px;
}
.modal-window-form-chekbox {
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
}
.modal-window-form-wraper {
  margin-bottom: 8px;
}
.modal-window-form-messeg {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  width: 100%;
  height: 120px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  padding: 8px 16px;
  color: rgba(46, 47, 66, 0.4);
  resize: none;
  background-color: transparent;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-window-form-messeg::placeholder {
  color: rgba(46, 47, 66, 0.4);
}
.modal-window-form-messeg:focus {
  border-color: #4d5ae5;
}
.modal-window-form-chekbox-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}
.form-own-chekbox {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
  margin-right: 8px;
  cursor: pointer;
  border-radius: 2px;
  fill: transparent;
  border: 1px solid rgba(46, 47, 66, 0.4);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-window-form-chekbox-wrap {
  margin-bottom: 24px;
}
.modal-window-form-chekbox:checked
  + .modal-window-form-chekbox-label
  .form-own-chekbox {
  background-color: #404bbf;
  border: 1px solid #404bbf;
  fill: #f4f4fd;
  border-color: #404bbf;
  border: none;
}
.modal-window-form-chekbox:focus
  + .modal-window-form-chekbox-label
  .form-own-chekbox {
  outline: 2px solid rgba(0, 0, 255, 0.5);
}
.privacy-policy-link {
  line-height: 1.4;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #4d5ae5;
}

.modal-window-form-button {
  display: block;
  margin: 0 auto;
  border-radius: 4px;
  border: none;
  justify-content: center;
  align-items: center;
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;
  background-color: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  outline: transparent;
  color: #fff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-window-form-button:hover,
.modal-window-form-button:focus {
  background-color: #404bbf;
  outline: transparent;
}
.comment {
  margin-bottom: 16px;
}
